<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="Nav.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../../assets/bbbb-02[1].png" alt="logo">
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-links">
            <div class="nav-left">
                <li><a href="/" class="active">Glimpse</a></li>
                <li><a href="/offerings">Offerings</a></li>
            </div>
            <div class="nav-right">
                <li><a href="/minds">Minds Behind</a></li>
                <li><a href="/contact">Let's Talk</a></li>
            </div>
        </ul>
    </nav>
    <script src="Nav.js"></script>
</body>
</html>